<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

    <bean id="triangle" class="com.iamtek.spring1.autowire.Triangle" autowire="byName" />

    <bean id="pointA" class="com.iamtek.spring1.autowire.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointB" class="com.iamtek.spring1.autowire.Point">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="pointC" class="com.iamtek.spring1.autowire.Point">
        <property name="x" value="0"/>
        <property name="y" value="20"/>
    </bean>

</beans>



