<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">

<beans>

    <bean id="triangle" class="com.iamtek.codingtointerface.Triangle">
        <property name="pointA" ref="pointZero"/>
        <property name="pointB" ref="point2"/>
        <property name="pointC" ref="point3"/>
    </bean>
    <bean id="circle" class="com.iamtek.codingtointerface.Circle">
        <property name="center" ref="pointZero"/>
    </bean>

    <bean id="pointZero" class="com.iamtek.codingtointerface.Point">
        <property name="x" value="0"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="point2" class="com.iamtek.codingtointerface.Point">
        <property name="x" value="-20"/>
        <property name="y" value="0"/>
    </bean>

    <bean id="point3" class="com.iamtek.codingtointerface.Point">
        <property name="x" value="0"/>
        <property name="y" value="20"/>
    </bean>

</beans>



